@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

.formInput {
    width: 240px;
    box-sizing: border-box;
}

@media (max-width: 375px) {
    #root {
        overflow: hidden;
    }
}